on: [push]

jobs:
  public_test:
    runs-on: ubuntu-latest
    env:
      BATS_LIB_PATH: "/usr/lib"
      TERM: xterm
    name: Install Bats common libs
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Bats and Bats-libs
        uses: brokenpip3/setup-bats-libs@main
        with:
          support-clean: "false"
          assert-clean: "false"
          detik-clean: "false"
          file-clean: "false"
      - name: Execute test to check Bats-support
        run: |
          cd /tmp/bats-support/
          bats test
      - name: Execute test to check  Bats-assert
        run: |
          cd /tmp/bats-assert/
          bats test
      - name: Execute test to check Bats-detik
        run: |
          cd /tmp/bats-detik/
          bats tests
      - name: Execute test to check Bats-file
        continue-on-error: true
        run: |
          cd /tmp/bats-file/
          bats test
      - name: Execute example tests
        run:
          bats -T -p tests
  public_test_trigger_cache:
    # Run the test again to eventually trigger the cache in the future
    needs: [public_test]
    runs-on: ubuntu-latest
    env:
      BATS_LIB_PATH: "/usr/lib"
    name: Install Bats common libs
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Bats and Bats-libs
        uses: brokenpip3/setup-bats-libs@0.1.0
        with:
          support-clean: "false"
          assert-clean: "false"
          detik-clean: "false"
          file-clean: "false"
      - name: Execute test to check Bats-support
        run: |
          cd /tmp/bats-support/
          bats test
      - name: Execute test to check  Bats-assert
        run: |
          cd /tmp/bats-assert/
          bats test
      - name: Execute test to check Bats-detik
        run: |
          cd /tmp/bats-detik/
          bats tests
      - name: Execute test to check Bats-file
        continue-on-error: true
        run: |
          cd /tmp/bats-file/
          bats test
